body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.circle {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #333;
}

.control-panel {
  padding: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;

  border: 0.1rem solid orange;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  background-color: red;
  transform-origin: top left;
}
